/* LoginPg.css */
body {
  background-image: url('https://images.creativemarket.com/0.1.0/ps/7358572/1820/1213/m1/fpnw/wm1/k127klsodfswwgb0i8quloaojdj8eizs6frih2d1e7uj7qaps0hhzzy3gdygsgqw-.jpg?1574657249&s=c6dfe32012079f3e58773b8c3b3d225c');
  background-repeat: no-repeat;
  background-size: cover;
color: white;
font-size: 2rem;
}

/* Typography: For MyPages Header */
h1, h2 {
  font-size: 36px;
  text-align: center;
  color: white;
  background-color: #3f3c3cb1; 
  padding: 10px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 10px;
}
/* For Loginpages Header*/
.two {
  /* /* color: white; */
  font-size: 3rem;
  background-color: #3f3c3c;
  margin: 0 auto;
  border-radius: 30px;
  padding: 10px;
  max-width: 500px;
}

/* For LoginPage.js containers */
.card-one {
  display: grid;
  grid-gap: 20px;
  background-color: #3f3c3ca8;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px; 
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 20px; /* Add margin to the top */
  margin-bottom: 20px; /* Add margin to the bottom */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

/* Mypage.js Searchbar */
form {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 200px;
  padding: 20px;
  font-size: 1.5rem;
}
/* LoginPage.Js */
input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 100px;
}

/* All buttons on all pages */
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 300px; 
  margin-top: 25px;
  margin-bottom: 25px
}

button:hover {
  background-color: #143c67;
  color: white;
}

/* Mypage card containers */
.card-container{
  margin-left: 200px;
  margin-right:200px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* Creates a box around card container */
.card-container > div {
  border: 1px solid #000000;
  padding: 10px;
  margin: 10px;
  background-color: #3f3c3cae;
  padding: 10px;
  flex: 1 0 400px;
}
.bottom-container{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 225px;
}