/* MePages.css */

/* Grid System */
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    grid-gap: 40px; /* Increase the gap between grid items */
    transform-style: preserve-3d; /* Add 3D transformation to the container */
    perspective: 1000px; /* Set the perspective for the 3D effect */
  }
  .input-field{
    background-color: pink;
  }

  .meal-input{
    color: white;
  }
  h1.one {
    font-size: 72px; /* Increase the font size for the main heading */
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    position: relative; /* Add position relative for z-index */
  }
  
  h1.one::after {
    content: ""; /* Add a pseudo-element */
    position: absolute; /* Position it absolutely within the container */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3f3c3c; /* Make the background color opaque white */
    z-index: -1; /* Push it behind the text */
    border-radius: 10px;
  }
  
  /* Whitespace */
  body {
    margin: 20px; /* Add margin to create breathing room around the content */
  }
  
  /* Modern Font */
  body {
    font-family: "Your Modern Font", sans-serif; /* Replace "Your Modern Font" with the name of your preferred modern font */
  }
  
  body {
    background-image: url('https://images.creativemarket.com/0.1.0/ps/7358572/1820/1213/m1/fpnw/wm1/k127klsodfswwgb0i8quloaojdj8eizs6frih2d1e7uj7qaps0hhzzy3gdygsgqw-.jpg?1574657249&s=c6dfe32012079f3e58773b8c3b3d225c');
    background-size: cover;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px; /* Increase the gap between cards */
    background-color: #3f3c3c; /* Make the background color opaque white */
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Wrap the containers along the vertical axis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add box shadow for the floating effect */
    color: rgb(255, 255, 255); /* Set font color to black */
    text-align: center; /* Center align the text */
    border-radius: 10px;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    transform-style: preserve-3d; /* Add 3D transformation to the cards */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add box shadow for the floating effect */
    transition: transform 0.3s; /* Add smooth transition for the transform */
  }
  
  .card:hover {
    transform: translateY(-10px); /* Apply transform on hover to create the floating effect */
  }
  
  .card-container input[type="number"] {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255); /* Meal cards */
    opacity: 0.7;
    margin-top: 5px
}
button{
    margin-top: 10px;
  color: rgba(240, 248, 255, 0.997);
}